.player {
    padding: 8px 16px;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 18px;
        margin-left: -1px;
        height: 1px;
        background-color: #000;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 50%;
        border-top: 1px solid;
        border-right: 1px solid;
        top: 50%;
        right: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &:nth-child(even)::after {
        top: initial;
        bottom: 50%;
        border-top: none;
        border-bottom: 1px solid;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__content {
        border: 1px solid;
        padding: 8px 10px;
        min-height: 36px;
    }
}
