.players-list {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-right: -4px;
        margin-left: -4px;
        margin-bottom: -4px;
        margin-top: 0;
    }

    li {
        padding: 8px 10px;
        border: 1px solid currentColor;
        margin: 4px;
        cursor: pointer;

        &.disabled {
            color: lightgrey;
            cursor: initial;
        }
    }
}
