.playoff {
    &__grid {
        display: flex;

        margin-right: -16px;
        margin-left: -16px;
    }

    &__round {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:first-child {
            .player:before {
                display: none;
            }
        }

        &:last-child {
            .player:after {
                display: none;
            }
        }
    }

    &__match {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
