* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

button {
    display: inline-block;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}