.layout {
    padding: 16px;

    & > * {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
    }

    &__players {
    }

    &__distribution {
    }

    &__grid {
    }
}
