<template>
  <div class="match">
    <div class="player" v-for="(player, index) in match.players" :key="index">
      <template v-if="player.name || !droppable">
        <div class="player__content">
          {{ player.name }}
        </div>
      </template>
      <template v-else>
        <drop class="player__content" @drop="dropHandler(index, ...arguments)">
          {{ player.name }}
        </drop>
      </template>
    </div>
  </div>
</template>

<script>
import '@/styles/components/matchGrid.scss'
export default {
  name: "match",
  props: {
    match: {
      type: Object,
      required: true,
    },
    droppable: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    dropHandler(playerIndex, player) {
      this.$emit("playerDrop", { playerIndex, player });
    },
  },
};
</script>

