<template>
  <label>
    <div>Number of players</div>
    <input type="number" :value="playersNumber" @input="update" />
  </label>
</template>

<script>
import { debounce } from "lodash";

export default {
  name: "players-input",

  props: {
    value: {
      type: Number,
    },
  },

  data() {
    return {
      playersNumber: this.value,
    };
  },

  methods: {
    update: debounce(function (e) {
      this.playersNumber = e.target.value;
      this.$emit("input", this.playersNumber);
    }, 300),
  },
};
</script>
