<template>
  <div class="playoff">
    <div class="playoff__grid">
      <div
        class="playoff__round"
        v-for="(round, roundIndex) in grid.rounds"
        :key="round.id"
      >
        <Match
          v-for="(match, matchIndex) in round.matches"
          :key="`match-${matchIndex}`"
          :match="match"
          :droppable="roundIndex === 0"
          @playerDrop="handleDrop(round.id, match.id, ...arguments)"
          class="playoff__match"
        />
      </div>
    </div>
  </div>
</template>

<script>
import "@/styles/components/playoffGrid.scss";
import Match from "@/components/matchGrid";

export default {
  name: "playoff-grid",

  components: {
    Match,
  },

  props: {
    grid: {
      type: Object,
      required: true,
    },
  },

  methods: {
    handleDrop(roundId, matchId, { playerIndex, player }) {
      this.$emit("playerDrop", { roundId, matchId, playerIndex, player });
    },
  },
};
</script>

