<template>
  <div class="players-list">
    <ul>
      <li
        v-for="player in players"
        :key="player.id"
        :class="{ disabled: player.inGame }"
      >
        <drag
          :transfer-data="player"
          :effect-allowed="'all'"
          :drop-effect="'move'"
          :draggable="!player.inGame"
        >
          {{ player.name }}
        </drag>
      </li>
    </ul>
  </div>
</template>

<script>
import "@/styles/components/playersList.scss";
export default {
  name: "players-list",
  props: {
    players: {
      type: Array,
      required: true,
    },
  },
};
</script>
