<template>
  <div id="app" class="layout">
    <div class="layout__input">
      <!-- TODO: Добавить ограничение по кол-ву -->
      <PlayersInput v-model.number="playersQuantity" />
    </div>

    <div class="layout__players">
      <button @click="generatePlayers">Generate players list</button>
      <PlayersList
        :players="playersList"
        v-if="playersList && playersList.length"
      />
    </div>

    <div class="layout__distribution">
      <button
        @click="distributePlayers"
        v-if="playersList && playersList.length"
      >
        Distribute players
      </button>
      <button @click="resetDistribution" v-if="isPlayersInGame">
        Reset distribution
      </button>
    </div>

    <div class="layout__grid">
      <PlayoffGrid :grid="grid" @playerDrop="addPlayerToMatch" />
    </div>
  </div>
</template>

<script>
import "@/styles/common.scss";
import "@/styles/layout.scss";

import { generatePlayers } from "@/modules/generatePlayers";
import { shuffleArray } from "@/modules/shuffleArray";

import PlayersInput from "@/components/playersInput";
import PlayersList from "@/components/playersList";
import PlayoffGrid from "@/components/playoffGrid";

export default {
  name: "App",

  data: () => ({
    playersQuantity: 8,
    playersList: [],
    grid: [],
  }),

  components: {
    PlayersInput,
    PlayersList,
    PlayoffGrid,
  },

  computed: {
    // Приведение числа игроков к степени числа 2
    preparedPlayersQuantity() {
      if (!this.playersQuantity) return 0;

      const calculatedPlayersQuantity = Math.round(
        Math.log2(this.playersQuantity)
      );
      const newPlayersQuantity = Math.pow(2, calculatedPlayersQuantity);

      if (newPlayersQuantity > this.playersQuantity) {
        return Math.pow(2, calculatedPlayersQuantity - 1);
      }
      return newPlayersQuantity;
    },

    // Проверка, есть ли в сетке хоть один игрок
    isPlayersInGame() {
      return this.playersList.some((player) => player?.inGame);
    },
  },

  methods: {
    // Создает массив случахных игроков
    generatePlayers() {
      this.playersList = generatePlayers(this.playersQuantity);
    },

    // На основе количества игроков вычисляет массив раундов, где ключ - индекс раунда, значение - кол-во игроков в раунде
    generateRounds(playersQuantity) {
      const rounds = [];

      if (playersQuantity > 1) {
        let currentMatchQuantity = playersQuantity;

        while (currentMatchQuantity !== 1) {
          rounds.push(currentMatchQuantity);
          currentMatchQuantity = currentMatchQuantity / 2;
        }

        rounds.push(1);
      }

      return rounds;
    },

    // На основе массива раундов создается объект всей игровой сетки
    generateGrid(rounds) {
      const grid = {
        id: "grid",
        rounds: [],
      };

      for (let r = 0; r < rounds.length; r++) {
        grid.rounds[r] = {
          id: `round-${r}`,
          matches: [],
        };

        const playersNumber = rounds[r];
        const matchesNumber = playersNumber / 2;

        for (let m = 0; m < matchesNumber; m++) {
          grid.rounds[r].matches[m] = {
            id: `match-${m}`,
            players: [],
          };

          const playersInMatch = playersNumber % 2 ? 1 : 2;

          for (let p = 0; p < playersInMatch; p++) {
            grid.rounds[r].matches[m].players[p] = {
              id: "",
              name: "",
            };
          }
        }
      }

      return grid;
    },

    // Распределение игроков из списка в случайном порядке в первом раунде сетки
    distributePlayers() {
      const randomizedPlayers = shuffleArray([...this.playersList]);

      this.grid.rounds[0].matches.forEach((match, matchIndex) => {
        match.players.forEach((player, playerIndex) => {
          const { id, name } =
            randomizedPlayers[matchIndex + (playerIndex + matchIndex)];
          randomizedPlayers[
            matchIndex + (playerIndex + matchIndex)
          ].inGame = true;
          player.id = id;
          player.name = name;
        });
      });
    },

    // Очистить список игроков в сетке
    resetDistribution() {
      this.playersList.forEach((player) => (player.inGame = false));
      const roundsArray = this.generateRounds(this.preparedPlayersQuantity);
      this.grid = this.generateGrid(roundsArray);
    },

    addPlayerToMatch({ roundId, matchId, playerIndex, player }) {
      const { id, name } = player;
      const playerInMatch = this.grid.rounds
        .find((round) => round.id === roundId)
        .matches.find((match) => match.id === matchId).players[playerIndex];

      playerInMatch.id = id;
      playerInMatch.name = name;

      const playerInList = this.playersList.find((item) => item.id === id);
      playerInList.inGame = true;
    },
  },

  watch: {
    preparedPlayersQuantity: {
      immediate: true,
      handler(newValue, oldValue) {
        if (newValue === oldValue) return;
        const roundsArray = this.generateRounds(newValue);
        this.grid = this.generateGrid(roundsArray);
        this.playersList = [];
      },
    },
  },
};
</script>
